/* Font Options 
/* font-family: 'Sigmar One', cursive !important; */

/* font-family: 'Oswald', sans-serif !important; */

/* font-family: 'Open Sans', sans-serif !important; */

/* font-family: 'Open Sans Condensed', sans-serif !important; */

/* font-family: 'Bree Serif', serif !important; */

/* font-family: 'Passion One', cursive !important; */

/* font-family: 'Bangers', cursive !important; */

/* font-family: 'Fjalla One', sans-serif !important; */

body {
    background-color: #0e222f !important;
}

.background {
    background-color: #0e222f !important;
}

.navbar {
    font-family: 'Open Sans', sans-serif !important;
}

.center {
    text-align: center !important;
}

#welcome {
    height: 250px;
    color: white;
    font-family: 'Bangers', cursive !important;
    font-size: 5em;
}

.topPicks {
    font-size: 2em;
    font-family: 'Passion One', cursive !important;
}

.devPicks {
    max-width: 238px;
    max-height: 349px;
}

.container-fluid {
    padding-top: 2em !important;
}

.tvMenu {
    background-image: url(images/tv-menu-white.jpg);
    background-size: cover;
    min-height: 320px;
    padding: 0px 0px 0px 0px !important;
}

.listLink {
    list-style: none !important;
}

.movieMenu {
    background-image: url(images/movie-menu-white.jpg);
    background-size: cover;
    min-height: 320px;
}

.container-fluid {
    padding-top: 5em;
    overflow-wrap: normal;
}

.nowPlaying, .nowStreaming, .todaysTV, .bestofTV {
    font-size: 2em;
    font-family: 'Passion One', cursive !important;
    text-decoration: underline;
}

#posterHolder {
    min-height: 445px;
    min-width: 300px;
}

#title {
    font-size: 24px;
}